# Build outputs
.gradle/
build/
out/
target/
bin/

# Logs and temporary files
*.log
*.tmp
*.temp
*.pid

# Runtime storage
/data/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IntelliJ IDEA
.idea/*
!.idea/
!.idea/icon.svg
*.iml

# VS Code
.vscode/

src/main/resources/config.yml
